<div class="outter">
  <div class="overlay">
  <% nums = (-1..9).to_a %>
  <% letters = ("A".."J").to_a %>
  <% nums.each do |num| %> 
    <div class="row row-<%= num %>">
      <%= render partial: 'games/boardrow', locals: {nums: nums, y_num: num, letters: letters}%>
    </div>
  <% end %>
  </div>
</div>
<div class='fix'>
  
  <div class="test-2">
    <% nums = (1..10).to_a.each do |num| %>
      <div><%= num %></div>
    <% end %>
  </div>
  <div class="test">
    <% letters = ("A".."J").to_a.each do |letter| %>
      <div><%= letter %></div>
    <% end %>
    <% board.spaces.each do |space| %>
      <div><%= space.coordinate %></div>
    <% end %>
  </div>
</div>